* {
    font-family: sans-serif;
}

h1 {
    color: white;
}

.logo {
    position: fixed;
    z-index: -1;
    width: 2560px;
    height: 1545px;
    align-items: center;
}

form  {
    padding: 5%;
    
}

#picRef {
    color: white;
    background-color: black;
    width: 248px;
}

.content {
    padding-top: 65px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    margin-right: 20%;
    margin-left: 20%;
}

@media (max-width: 351px) {
    .content {
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 1%;
        margin-right: 1%;
        margin-left: 1%;
    }
}

@media (max-width: 425px) {
    .content {
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 1%;
        margin-right: 1%;
        margin-left: 1%;
    }
}