.login
{
    width: 100px;
    justify-content: center;
}
.email
{
    width: 100px;
    justify-content: center;
}
.formPrincial
{
    width: 30vm !important;
    justify-content: center !important;
}