* {
    font-family: sans-serif;
}

.content {
    padding-top: 90px;
}

@media (max-width: 425px) {
    .wrapper {
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;
        margin-right: 10%;
        margin-left: 10%;
    }

}